/*iPhoneおよび共通設定*/
.container {
    max-width: 960px;
    width: auto;
    padding: 0 4%;
    margin: 0 auto;

}

header {
    background-color: aquamarine;
    height: auto;
    display: flex;
}

.resume {
    height: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    align-items: center;
    margin: 10px auto 10px 20px;

}
.menu {
    text-align: right;
}

header ul {
    background-color: blue;
    display: flex;
    font-size: 14px;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}

header li {
    justify-content: center;
    margin: 5% 10px;
}

.mainvisual {
    display: flex;
    justify-content: center;
}

.mainvisual img{
    height: 600px;
}

.introduction {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 30px 100px 200px;
    text-align: center;
    gap: 30px;
    margin-top: 70px;
    padding: 0 4%;
    background-color: darkkhaki;
}
.title {
    background-color: aqua;
}

.name {
    background-color: blue;
    margin-top: 10px;
}

.face_photo {
    padding-top: 30px;
}

.title h1 {
    display: inline;
    border-bottom: #000 1px solid;
    padding-bottom: 7px;
    font-size: 32px;
    background-color: burlywood;

}
.introduction h2 {
    display: inline;
    font-size: 18px;
    margin-top: 10px;
    background-color: coral;

}
.introduction p{
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    background-color: chartreuse;
}

.introduction img {
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}



.profile {
    padding: 0 4%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 310px 310px 310px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 90px;
}

.profile h1 {
    font-size: 28px;
}

.profile_contents h2 {
    margin-bottom: 20px;
}

.profile_contents p {
    margin-bottom: 10px;
    font-size: 14px;
}
.profile img {
    width: 100%;
}


footer {
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
    border-bottom: #000 solid 5px;
}

/*iPadの設定*/
@media screen and (min-width: 600px){



   
}

