/*iPhoneおよび共通設定*/
.container {
    max-width: 960px;
    width: 960;
    padding: 0 4%;
    margin: 0 auto;

}

header {
    background-color: aquamarine;
    height: auto;
    display: flex;
}

.resume {
    height: auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    align-items: center;
    margin: 10px auto 10px 20px;

}
.menu {
    text-align: right;
}

header ul {
    background-color: blue;
    display: flex;
    font-size: 14px;
    list-style-type: none;
    margin: 10px 0px 10px 0px;
}

header li {
    justify-content: center;
    margin: 5% 10px;
}

.mainvisual {
    display: flex;
    justify-content: center;
}

.mainvisual img{
    height: 600px;

}


/*iPadの設定*/
@media screen and (min-width: 600px){



   
}

